// Font
@font-face {
    font-family: Gotham;
    src: url('../font/Gotham Light Regular.otf');
}

@font-face {
    font-family: Gotham;
    src: url('../font/Gotham Bold.otf');
    font-weight: bold;
}


$main-font: 'Gotham', sans-serif;
$secondary-font: 'Palanquin', sans-serif;

// Color
$secondary-color: #CCCCCC;