.main-color {
    box-sizing: border-box;
    height: 126px;
    margin-bottom: 10px;
    text-align: center;
    width: 126px;

    p {
        color: #fff;
        height: 33%;
        width: 100%;
    }
    p:nth-child(1) {
        background-color: #000000;
    }
    p:nth-child(2) {
        background-color: #0E1012;
    }
    p:nth-child(3) {
        background-color: #A8A9AD;
    }
}

.secondary-color {
    box-sizing: border-box;
    height: 126px;
    margin-bottom: 10px;
    text-align: center;    
    width: 126px;

    p {
        color: #fff;
        height: 33%;
        width: 100%;
    }
    p:nth-child(1) {
        background-color: #2B2F3F;
    }
    p:nth-child(2) {
        background-color: #404451;
    }
    p:nth-child(3) {
        background-color: $secondary-color;
        color: #000;
    }
}

.verticalText {      
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    // For IE9+
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    @include prefix(transform, rotate(-90deg), webkit ms);
    
}