.main-color {
    box-sizing: border-box;
    height: 126px;
    margin-bottom: 10px;
    text-align: center;
    width: 126px;

    p {
        color: #fff;
        height: 33%;
        width: 100%;
    }
    p:nth-child(1) {
        background-color: #000000;
    }
    p:nth-child(2) {
        background-color: #0E1012;
    }
    p:nth-child(3) {
        background-color: #535859;
    }
}

.secondary-color {
    box-sizing: border-box;
    height: 126px;
    margin-bottom: 10px;
    text-align: center;    
    width: 126px;

    p {
        color: #fff;
        height: 33%;
        width: 100%;
    }
    p:nth-child(1) {
        background-color: #2B2F3F;
    }
    p:nth-child(2) {
        background-color: #404451;
    }
    p:nth-child(3) {
        background-color: $secondary-color;
        color: #000;
    }
}

.verticalText {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}