.fontSize-xl {
    font-size: 60px;
}

.fontSize-l {
    font-size: 36px;
}

.fontSize-m {
    font-size: 18px;
}

.fontSize-s {
    font-size: 16px;
}

.vertical-text {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

    -webkit-transform-origin: 23% 0;
    -ms-transform-origin: 23% 0;
	transform-origin: 23% 0;
}