input[type="text"] {
    background-color:  $secondary-color;
    border: 1.5px solid #000;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    font-size: 1.4rem;    
    padding: 15px 20px;
}

input[type="text"]:focus {
    border: 1.5px solid #fff;
}

input[type="text"]:hover {
    border: 1.5px solid #808080;
}