.test-verticalText {
    height: 500px;
    float: right;
    width: 50%;
    position: relative;
    aside {
        border-left: 2px solid #000;  
        float: right;
        padding: 0 3%;
        width: 66%;
    }
}

.vertical-text {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

    // -webkit-transform-origin: 150% -374%;
    // -ms-transform-origin: 150% -374%;
	// transform-origin: 150% -374%;
    position: absolute;
    left: 0;
    top: 25%;
    display: block;
}

.rotate-wrapper {
    height: 500px;
    width: 80%;

    h2 {
        position:relative;
        float:left;
        width:115px;

        span {
            display:inline-block;
            position:absolute;
            left:-175px;
            top: 130px;
            white-space: nowrap;
            -webkit-transform:rotate(-90deg);
        }
    }
    aside {
        border-left: 1px solid #000;
        float:left;
        width:50%;
        padding:0 3.5%;
    }
}